[Desktop Entry]
Type=Application
Version=1.0
Name=MIDlet-Manager
Icon=replace_with_install_dir/wrapper-files/shortcuts/icon.png
Path=replace_with_install_dir/bin/
Exec=replace_with_install_dir/bin/manager.sh

