[Desktop Entry]
Type=Application
Version=1.0
Name=Add-J2ME-to-apps
#Icon=/home/vipaol/freej2me/apps/icon_mobapp-game.png
Path=/home/vipaol/freej2me/
Exec=/home/vipaol/freej2me/install-j2me-jar.sh %f
Terminal=true
MimeType=application/x-java-archive;application/java-archive;application/x-jar;text/plain;
NoDisplay=true

